.card {
  background-color: #eeeeee;
}

.video-container {
  position: relative;
}
.video-container video {
  display: block;
  width: 100%;
}
.video-container .video-icon {
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  z-index: 10;
  /* display: none; */
  transition: all 0.3s ease;
}
.video-container .video-icon:hover {
  color: #ddd;
}
.video-container:hover .video-icon {
  display: block;
}

.video-desc {
  position: relative;
}
.video-desc .video-stats {
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 2.5rem;
}

.chart-slider-container {
  position: relative;
  width: 100%;
  height: 40px;
}
.chart-slider-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.chart-slider-container .slider-tooltip-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
}
.chart-slider-container .slider-tooltip-container input[type=range] {
  width: 100%;
  position: relative;
  z-index: 2;
}
.chart-slider-container .slider-tooltip-container #sliderTooltip {
  position: absolute;
  top: -30px;
  left: 0;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  display: none;
  pointer-events: none;
  z-index: 3;
}

.bar-tooltip {
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}